# Exploratory Data Analysis
* Update precipitation CSV with new data
* View the beginning and end date of each station 
* (TBD) View the locations of each station on a map

In [2]:
import folium
import functions
import numpy as np
import pandas as pd

In [11]:
# Import new weather data
NEW_DATA_PATH = 'data/raw_precipitation_97016.csv'
EXISTING_DATA_PATH = 'data/precipitation_97016.csv'
df = functions.update_data(new_data_path=NEW_DATA_PATH,
                           existing_data_path=EXISTING_DATA_PATH,
                           overwrite='no')

# Import geospatial data and analyze the date range
station_dates = functions.view_station_date_ranges(df)
geo_data = functions.update_data(new_data_path='data/geo_data.csv',
                 existing_data_path='data/geo_data.csv',
                 overwrite='yes')

# The stations with recent history have geo_data available
station_dates.merge(geo_data, on=['STATION', 'NAME'], how='left')

,STATION,NAME,min_date,max_date,LATITUDE,LONGITUDE,ELEVATION
0,US1ORCB0013,"CLATSKANIE 3.0 NE, OR US",1998-06-17,2024-06-28,46.131337,-123.157110,44.5
1,US1ORCB0027,"CLATSKANIE 5.0 NE, OR US",2013-04-13,2016-01-04,NaN,NaN,NaN
2,US1ORCB0039,"BIRKENFELD 3.1 NNW, OR US",2016-09-09,2017-01-18,NaN,NaN,NaN
3,US1ORCB0040,"CLATSKANIE 8.8 SW, OR US",2017-05-30,2024-12-06,46.006917,-123.324535,194.2
4,US1ORCB0041,"CLATSKANIE 6.1 W, OR US",2018-01-06,2024-12-08,46.115700,-123.331300,4.6
5,USC00351643,"CLATSKANIE, OR US",1935-05-01,2024-10-31,46.108100,-123.205800,6.7
6,USC00355838,"MOUNTAIN HOME, OR US",1909-06-01,1917-07-31,NaN,NaN,NaN
7,USC00359121,"WAUNA, OR US",2011-01-01,2016-12-31,NaN,NaN,NaN
8,USR0000OMLL,"MILLER OREGON, OR US",1996-10-17,2024-12-08,46.022800,-123.271100,332.2

In [ ]:
# Map the stations 
functions.map_stations(geo_data)